__pycache__/
**/bin/
**/obj/
TestResults/
unity/Assets/StreamingAssets/Goa2/
unity/Assets/StreamingAssets/Goa2.meta
unity/Assets/StreamingAssets/Goa2Debug/
unity/Assets/StreamingAssets/Goa2Debug.meta
*.user
*.suo
*.py[cod]
.venv/
.env
.env.*
!.env.example
unity/Library/
unity/Temp/
unity/Obj/
unity/Logs/
unity/UserSettings/
unity/Build/
unity/Builds/
artifacts/
*.user
*.suo
.vs/
